/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap');

/* Body */
body {
    padding: 1rem;
    font-family: "Roboto", Arial, Verdana, sans-serif;
}

/* Subtitle */
h2 {
    color: purple;
}

/* Instructions */
.instructions {
    font-size: 1.25rem;
}

/* Triangle and Path */
.triangle {
    font-family: "Roboto Mono", monospace;
}

.path {
    color: #D2386C;
}

/* Links */
a {
    text-decoration: none;
    color: #D2386C;
}

a:hover {
    text-decoration: none;
    color: #34568B;
}

/* Array Information */
#arrinfo {
    padding: 1.25rem;
    font-size: 1.5rem;
    color: #009B77;
}

